body {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 980px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
  }
}

.sitename {
  float: left;
  margin: 0;
}

.nav-right {
  float: right;
  font-size: 16px;
  margin: 0;
  padding-left: 0;
  li {
    list-style: none;
    float: left;
    a {
      display: block;
      border-bottom: 2px solid transparent;
      &:hover {
        border-color: #333;
      }
    }
  }
  li+li {
    margin-left: 30px;
  }
}

.header {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding-top: 20px;
}

.welcome {
  padding: 40px 0;
  margin-bottom: 20px;
  .container {
    max-width: 660px;
  }
  h2 {
    font: bold 60px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
  }
}

.section {
  .section-left {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
  }
  .section-main {
    padding-left: 100px;
    font-size: 16px;
    p {
      margin: 0 0 20px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.section+.section {
  margin-top: 60px;
}

.member {
  .member-name {
    font-weight: bold;
  }
  .member-meta,.member-skills {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
  }
  .member-skills {
    color: #999;
    span+span {
      &:before {
        content: '·';
        margin: 0 3px;
      }
    }
  }
  .icon {
    display: none;
  }
  &:hover {
    .icon {
      display: inline-block;
    }
  }
}

.member+.member {
  margin-top: 20px;
}

.footer {
  padding: 100px 0 50px 0;
  font-size: 15px;
  color: #999;
}

.icon {
  position: relative;
  top: -2px;
  left: 3px;
  opacity: .65;
}

// delay
#welcome {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
#about {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
#team {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}

@import 'animate';

@media screen and (max-width: 768px) {
  .welcome {
    h2 {
      font-size: 24px;
    }
  }
  .section {
    .section-left {
      float: none;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
    }
    .section-main {
      padding-left: 0;
      margin-top: 15px;
    }
  }

}
